#Main{
    margin-top: 50rem;
    transition: all 1s ease;
}
.content{
    padding: 4rem;
    height: 100rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;

}

#Biographys h2{
    padding: 2rem 0 0 6rem;
    font-size: xx-large;
    color: #333;
}

.movemain{
    margin-top: 5rem !important;

}
